- name: "Create backup dir"
  tags: always
  file:
    name: /tmp/backup
    state: directory

- name: "Backing up volumes"
  tags: vol_backup
  become: True
  include: backup.yml
  with_items: "{{ volumes_to_backup }}"

- name: "Restore from backups"
  tags: vol_restore
  include: restore.yml
  with_items: "{{ volumes_to_backup }}"
  loop_control:
    loop_var: vol

- name: "Clean up back up files"
  tags: always
  become: True
  file:
    name: /tmp/backup
    state: absent
